# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
/.idea
.project
.classpath
.cproject
/.vscode
/.settings
/.nb-gradle
*.swp
*.bak
*.tmp
*.sql
*.log

# System Files
.DS_Store
Thumbs.db

# Antigravity artifacts
.gemini/
brain/
tmp/
